.card {
    padding: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

    background-color: $grey-1;
    border-radius: 25px;

    @include responsive("phone", $type: "max") {
        padding: 30px 0;
        background-color: unset;
        gap: 20px
    }
}