footer {
    margin-top: 20px;
    height: 209px;

    @include flexbox($direction: column, $justify: center, $align: center);
    background: black;

    a {
        margin: auto;
        @include responsive("phone", $type: "max") {
            margin: unset;
        }
        
        svg {
            width: 122px;
            height: 39.44px;
    
            path {
                fill: white;
            }
        }
    }

    p {
        margin-bottom: 20px;
        color: white;
        @include text($fontSize: 24px, $fontWeight: 500);

        @include responsive("phone", $type: "max") {
            margin-top: 15px;
            margin-bottom: unset;
            
            @include text($fontSize: 12px, $fontWeight: 500);
        }
    }
}